<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.facebook.extentreportlistener.ExtentReporterNG" />
	</listeners>


	<test name="Facebook App Test Cases">
		<classes>
			<class name="com.facebook.pagetest.HomePageTest"></class>
			<class name="com.facebook.pagetest.SignupPageTest"></class>
			

		</classes>
	</test>
</suite>